@page "/families"
@namespace ManageService
@using Models
@inject IFamilyService IFamilyService
@attribute [Authorize(Policy = "MustBeAtLeastSecurityLevel1")]

@if (families == null)
{
    <p>Loading...</p>
}
else if (!families.Any())
{
    <p>Looks like there is nothing here. Try adding some families!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Family</th>
                <th>Street name</th>
                <th>House number</th>
                <th>Members</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i<families.Count; i++)
            {
                    <tr>
                        <td>@(families[i].Adults.Any() ? @families[i].Adults.FirstOrDefault().LastName : "No adults registered")</td>
                        <td>@families[i].StreetName</td>
                        <td>@families[i].HouseNumber</td>
                        <td>@CalculateMembers(i) </td>
                    </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<Family> families;


    protected override void OnInitialized()
    {
        families = IFamilyService.LoadFamily();
    }

    private int CalculateMembers(int i)
    {
        if (families[i].Children == null)
        {
            return families[i].Adults.Count;
        }
        else
        {
            return families[i].Children.Count + families[i].Adults.Count;
        }
    }

}
